                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="reviewsTab" class="tab-pane fade">
                            <div class="card">
                                <div class="card-body">
                                    <p>Reviews content here...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
