<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard - FilmFusion</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="admin-body">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-md-2 bg-dark text-white sidebar py-4">
        <h4 class="text-center mb-4">Admin Panel</h4>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link text-white" href="#">Manage Movies</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">User List</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Ratings & Reviews</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Recommendations</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Reports</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Logout</a></li>
        </ul>
      </aside>

      
        <main class="col-md-10 py-4">
        <h2>Welcome, Admin!</h2>
        <p>Use the sidebar to manage the FilmFusion system.</p>
      </main>
    </div>
  </div>
</body>
</html>


