 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Recommendation System</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="background"></div>

   

  <main class="hero">
    <div class="content">
       
      <h1 class="main-title"><span class="highlight">MOVIE</span> Recommendation System</h1>
      <p class="description">Get personalized movie suggestions powered by machine learning algorithms. Dive into a smarter cinema experience!</p>
      <a href="#" class="btn">Explore Now</a>
    </div>
  </main>

  <footer>
    <p>&copy; 2025 TechVidvan | All Rights Reserved</p>
  </footer>

  <script src="js/main.js"></script>
</body>
</html>
